[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
tqdm = "*"
types-toml = "*"

[dev-packages]
build = "*"
pytest = "*"
use-minimon-dj = {editable = true, path = "."}
flake8 = "*"
pytest-cov = "*"
mypy = "*"

[requires]
python_version = "3.9"
